<h3>Deck:  <%= @deck.name %></h3>

<p>Description:  <%= @deck.description %></p>

<% if @deck.cards %>
  <% @deck.cards.each do |card| %>
    <li>Question: <%= card.question %><br>
      Answer: <%= card.correct_answer %><br>
      <a href="/cards/<%= card.id %>">Edit</a></li>
  <% end %>
<% end %>
